$rich-black-fogra-39: #0b090aff;
$eerie-black: #161a1dff;
$ruby-red: #a4161aff;
$imperial-red: #e5383bff;
$french-blue: #0274bdff;
$carolina-blue: #5b9bc2ff;
$light-gray: #d3d3d3ff;
$cultured: #f5f3f4ff;

$html-brand: #ff9827ff;
$css-brand: #3c99dcff;
$js-brand: #f0db4fff;
$php-brand: #787cb5ff;
$sass-brand: #cd6799ff;