$navbar-height: 80px;
$footer-height: 80px;

$spacing-x-sm: 8px;
$spacing-s: 16px;
$spacing-md: 24px;
$spacing-lg: 48px;
$spacing-x-lg: 64px;

$body-text-size: 21px;
$caption-text-size: calc(#{$body-text-size} / 2);